Repository rouge8/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-.bash*, fish_indent

shfmt-.bash*:
  name: shfmt-.bash*
  minimum_pre_commit_version: 2.6.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.0
  entry: shfmt
  args:
  - -s
  - -w

fish_indent:
  name: fish_indent
  language: system
  entry: fish_indent
  args:
  - -w

Add 'chrome'/'firefox'/'safari' commands to open HTML files
  .config/fish/conf.d/browsers.fish.symlink
Due: fish_indent

Display the current vi-mode in the prompt
  .config/fish/functions/fish_prompt.fish.symlink
Due: fish_indent

Include Mac App Store apps in Brewfile
  Brewfile
  Makefile
Due: none

Add macOS configuration (plus TODOs) to setup.sh
  setup.sh
Due: none

Only add fish to /etc/shells once
  setup.sh
Due: none

GitHub CLI default config
  .config/gh/config.yml.symlink
  .gitattributes
Due: none

'gh' config cleanup
  .config/gh/config.yml.symlink
Due: none

'gh repos $user_or_org' lists all repos owned by $user_or_org
  .config/gh/config.yml.symlink
Due: none

'gh unwatch' to unwatch a repo
  .config/gh/config.yml.symlink
Due: none

yamllint
  .config/yamllint/config.symlink
  .gitattributes
  .pre-commit-config.yaml
  .ripgreprc.symlink
  .yamllint.yml
Due: none

Hue Menu Bar app
  Brewfile
Due: none

Move _vi_mode_prompt into config.fish
  .config/fish/config.fish.symlink
  .config/fish/functions/fish_prompt.fish.symlink
Due: fish_indent

Use Starship for a consistent prompt in bash and fish
  .bashrc.symlink
  .config/fish/config.fish.symlink
  .config/fish/functions/fish_prompt.fish.symlink
  .config/starship.toml.symlink
  .gitattributes
  .ripgreprc.symlink
  Brewfile
Due: shfmt-.bash*, fish_indent

Speed up 'fish -c' and '#!/usr/bin/env fish' by making config.fish conditional
  .config/fish/config.fish.symlink
Due: fish_indent

Remove custom vi-mode prompt from starfish
  .config/fish/config.fish.symlink
  .config/starship.toml.symlink
Due: fish_indent

[prompt] Only show the Python version when a virtualenv is activated
  .config/starship.toml.symlink
Due: none

[setup] Configure Terminal.app
  misc/Gruvbox-dark.terminal
  setup.sh
Due: none

[prompt] TODO
  .config/starship.toml.symlink
Due: none

[setup] Divvy
  setup.sh
Due: none

[setup] Remap caps to lctrl on the Macbook keyboard
  setup.sh
Due: none

[setup] Don't reload .bash_profile
  setup.sh
Due: none

[fish] '**<tab>' autocompletes paths with 'fzf' like it did on bash
  .config/fish/functions/fish_user_key_bindings.fish.symlink
Due: fish_indent

[prompt] Warn when using bash with a nice ☢
  .config/starship.toml.symlink
Due: none

[prompt] Replace starship's git_status with vcprompt
  .config/starship.toml.symlink
Due: none

[prompt] Remove unused config
  .config/starship.toml.symlink
Due: none

[git] Use delta as git's pager/diffs
  .gitconfig.symlink
Due: none

Show hyperlinks in Delta's diff and fix kitty to open everything in $EDITOR
  .config/fish/config.fish.symlink
  .config/kitty.symlink/open-actions.conf
  .gitconfig.symlink
Due: fish_indent

Render hyperlinks in 'ls'
  .config/fish/functions/ls.fish.symlink
Due: fish_indent

[kitty] Open image hyperlinks with icat
  .config/kitty.symlink/open-actions.conf
  Brewfile
  setup.sh
Due: none

[prompt] Add git-status-prompt for my own formatting
  .config/starship.toml.symlink
  Brewfile
  bin/git-status-prompt.symlink
Due: none

[git] Configure Delta hyperlinks so kitty recognizes the line numbers
  .gitattributes
  .gitconfig.symlink
Due: none

[git] Configure hunk-header-style for latest delta
  .gitconfig.symlink
Due: none

Recordit for better screencasts
  Brewfile
Due: none

[vim] vim-plug-update
  .vim.symlink/autoload/plug.vim
Due: none

[vim] Minimal neovim setup
  .config/nvim.symlink/init.vim
  Brewfile
Due: none

[vim] Remove unused ttymouse
  .vimrc.symlink
Due: none

[vim] Use mouse in all modes
  .vimrc.symlink
Due: none

[prompt] Change bash prompt symbol to something more noticable
  .config/starship.toml.symlink
Due: none

[prompt] 'echo -n'
  bin/git-status-prompt.symlink
Due: none

[fish] Fix error when autocompleting
  .config/fish/functions/fish_user_key_bindings.fish.symlink
Due: fish_indent

Path conditions:
  shfmt-.bash*: any of: .bash*
  fish_indent: any of: .+\.fish
